.banner, .footer {
text-align:center;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	min-width:1200px;	
}

.ui-layout, .ui-layout-unit{
    border: none;
}

a .ui-menuitem-text {
	color:#000000;
	font-weight:bold;
	margin-right:5px;
}


.ui-menu
{
	margin-top:5px;
	min-width:200px;	
}

.centered {
    margin: 0 auto;
}

.tablemargin
{
	margin-left: 10%;
	margin-right: 10%;
}
